yarn-error.log*
yarn-debug.log*
typings/
Thumbs.db:encryptable
Thumbs.db
Temporary Items
target
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
out/
npm-debug.log*
node_modules/
node_modules
Network Trash Folder
logs
lib-cov
lerna-debug.log*
jspm_packages/
Icon
ehthumbs.db
ehthumbs_vista.db
dist
coverage
Cargo.lock
build/Release
build
bower_components
$RECYCLE.BIN/
*.tsbuildinfo
*.tgz
*.stackdump
*.seed
*.pid.lock
*.pid
*.pem
*.node
*.msp
*.msm
*.msix
*.msi
*.log
*.lnk
*.lcov
*.icloud
*.cab
[Dd]esktop.ini
.yarn/*
.yarn-integrity
.vuepress/dist
.vscode-test
.VolumeIcon.icns
.vercel
.Trashes
.tern-port
.TemporaryItems
.Spotlight-V100
.serverless/
.rts2_cache_umd/
.rts2_cache_es/
.rts2_cache_cjs/
.rpt2_cache/
.pnp.js
.pnp.*
.pnp
.nyc_output
.nuxt
.npm
.node_repl_history
.next/
.next
.LSOverride
.lock-wscript
.grunt
.fusebox/
.fseventsd
.eslintcache
.env.test.local
.env.test
.env.production.local
.env.local
.env.development.local
.env
.dynamodb/
.DS_Store
.DocumentRevisions-V100
.com.apple.timemachine.donotpresent
.cache/
.cache
.AppleDouble
.AppleDesktop
.AppleDB
.apdisk
._*
!.yarn/versions
!.yarn/sdks
!.yarn/releases
!.yarn/plugins
!.yarn/patches
