@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--success: #00ff00;
	--error: #ff0000;
	--warning: #ffcc00;
	--info: #00ccff;
	--accent: #d65617;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
		--success: #00ff00;
		--error: #ff0000;
		--warning: #ffcc00;
		--info: #00ccff;
		--accent: #f7beaa;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-roboto-sans), sans-serif;
}

code {
	font-family: var(--font-roboto-mono), monospace;
}

p {
	margin-bottom: 8pt;
}
